* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.App {
  width: 100vw;
  height: auto;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid #4c5270;
  border-radius: 6px;
}

td:first-child,
th:first-child {
  border-left: none;
}

td,
th {
  border-left: 1px solid #4c5270;
  border-top: 1px solid #4c5270;
  min-width: 100px;
  text-align: left;
  padding: 10px;
}

th {
  border-top: none;
  background-color: #f652a0;
  color: white;
}

.user {
  width: 60%;
  margin: auto;
  height: 80%;
  padding-top: 100px;
}

.loader,
.user h1 {
  color: #f652a0;
}

.user .info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  position: relative;
}

.user .info img {
  margin-right: 40px;
  width: auto;
  clip-path: circle(50% at center);
  margin-top: 20px;
}

.user span {
  font-weight: bold;
}

.user .details {
  padding: 10px;
}

.ri-arrow-go-back-line {
  font-size: 26px;
  padding: 20px;
  color: white;
  background-color: #f652a0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.usersList {
  width: 70vw;
  margin: auto;
  padding-top: 80px;
}

.usersList .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.usersList h1 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 20px;
  color: #f652a0;
}

.userRow {
  cursor: pointer;
  transition: background-color 300ms ease;
}

.userRow:hover {
  background-color: #4c5270;
  color: white;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: #1d213a;
}

.pagination i {
  margin: 10px;
}
